// Tools
@use "../utils/vars" as v;
@use "../utils/mixins" as m;

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}
