// Tools
@use "../../style/utils/vars" as v;
@use "../../style/utils/mixins" as m;

.container {
  border: 5px solid green;
  border-radius: 10px;
  padding: v.$sp_20;
  @include m.flex(column, center, flex-start);
  gap: v.$sp_20;
  width: 80vw;
  min-height: 100vh;
  margin-left: v.$sp_20;
}

img {
  width: 80vw;
  height: auto;
}

button {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  @include m.clickable;
  @include m.hover;
  padding: v.$sp_10;
}
