// Tools
@use "../../style/utils/vars" as v;
@use "../../style/utils/mixins" as m;

.container {
  padding: v.$sp_20;
  @include m.flex(column, center, flex-start);
  gap: v.$sp_20;
  max-width: 960px;
  width: 100%;
  height: auto;
  margin-left: v.$sp_20;
}

img {
  max-width: 50vw;
  width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  color: white;
  border: 2px solid green;
  border-radius: 10px;
  @include m.clickable;
  @include m.hover;
  padding: v.$sp_10;
}
